
#header a:hover
{
    color: fff;
}

.about-sec
{
    
    width: 100%;
}


#About
{
    background-color: #ccc;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 400px;
}
.navbar
{
    background-color: rgba(20, 20, 22, 0.71);
}
.profile-pic
{
    min-height: 60px;
    width: 200px;
    
}
.fa
{
    align-items: center;
    color: #fff;
}
#Skills span {
    padding: 10px 20px 10px 20px;
}
#Skills hr
{
    border-width: 2px;
    margin-top: 06px ;
}
.skill-image
{
    height: 200px;
    width: 200px;
    
}
#Skills
{
    background-color: #ffffff;
}

#ContactMe span
{
    padding: 10px 20px 10px 20px;
}
#ContactMe hr{
    border-width: 2px;
    margin-top: 06px ;
}
.about-sec span
{
    padding: 10px 20px 10px 20px;
}
#about-se
{
    background-color: #ccc;
}
.about-sec hr{
    border-width: 2px;
    margin-top: 06px ;
}
#Home
{
   background:rgb(255, 255, 255);
   background-repeat: no-repeat;
   width: 100%;
   min-height: 500px;

    
}
.welcome-text
{
    
    padding-top: 8rem;
    color: rgb(187, 20, 20);
    
}
.content
{
    padding-top: 3rem;
    color: rgba(20, 20, 22, 0.61);
}
.welcome-name
{
    padding-top: 3rem;

    
}

#ContactMe
{
    background-color: #ccc;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.footer1
{
    text-align: center;
}